# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# IDE
.vscode/
.idea/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Raw datasets
data/*.csv

# Logs
*.log